.homePage{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(29, 29, 29);
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: #F2F2F2;
    font-family: 'Manrope', sans-serif;
}
.title {
    font-family: 'Sora', sans-serif;
    font-size: 56px;
}
.intro {
    margin-top: 25px;
    margin-bottom: 32px;
    width: 100%;
    line-height: 28px;
}
.search-by {
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 8px;
}
.search-by > p {
    font-size: 12px;
}
.search-by > * {
    margin-bottom: 8px;
}
.movie-list {
    margin-top: 32px;
}