* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
option select {
  border: none;
  background: none;
}
button {
  border: none;
  background: none;
}
button:hover {
  background: none;
}
button:focus {
  outline: none;
}
li {
  list-style: none;
}